@model Shelter_MVC.Models.Animal

@{
    ViewData["Title"] = "Usuń zwierzę";
}

<h1>Usuń zwierzę</h1>

<h3>Czy na pewno chcesz usunąć to zwierzę?</h3>
<div class="card mt-4">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                Imię
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-3">
                Wiek
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Age) lat
            </dd>
            <dt class="col-sm-3">
                Opis
            </dt>
            <dd class="col-sm-9">
                @if (string.IsNullOrEmpty(Model.Description))
                {
                    <span class="text-muted">Brak opisu</span>
                }
                else
                {
                    @Html.DisplayFor(model => model.Description)
                }
            </dd>
            <dt class="col-sm-3">
                Status
            </dt>
            <dd class="col-sm-9">
                @if (Model.IsAdopted)
                {
                    <span class="badge bg-secondary">Zaadoptowany</span>
                }
                else
                {
                    <span class="badge bg-success">Gotowy do adopcji</span>
                }
            </dd>
        </dl>
    </div>
</div>
    
<form asp-action="Delete" class="mt-3">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Usuń" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>
